@CHARSET "UTF-8";

.formTable {
	padding: 10px;
	border: 1px solid black;
}

input, textarea {
	width: 200px;
	margin-top: 10px;
}

.loginError {
	background-color: red;
	color: white;
	padding: 10px;
}


label {
	text-align: right;
	vertical-align: top;	
}

.error {
	font-size: small;
	color: red;
}
